body {
	background-color: #008B8B;
	color: #FFFFFF;

}

header {
	font-family: Droid Sans;
	color: #FFFFFF;
	font-size: 45px;
	text-align: center;

}

.button {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	
}

.container {

}

.game p {

}